.header {
  display: flex;
  justify-content: space-between;
  margin: 7px;
  border: 1px solid;
  height: 15%;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 150px;
  height: 100px;
}

.footer {
  border: 1px solid;
  margin: 7px;
  height: 5%;
}

.card {
  width: 150px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid;
}

.card > img {
  width: 80%;
}

.resturant-list {
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  margin: 7px;
}

.search-text {
  height: 30px;
  padding: 3px;
}
